.card {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    color: black;
}

.card::before {
    content: "";
    background-image: url('animations/background.gif');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
}

.card:hover {
    transform: scale(1.03);
    transition: all 0.3s;
}